.app {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:100vh; */
    flex-direction: column;
    transform: translateY(100px);
}

.app input {
    width: 80px;
    height: 25px;
    border: 1px solid #ccc;
    background: #2f2f2f;
    color: #ddd;
    border-radius: 5px;
}

.app input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.app button {
    border: none;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background: #2f2f2f;
    color: #ddd;
    font-size: 15px;
}

.app button:hover {
    cursor: pointer;
    background: #292929;
}

.table-container {
    width: 500px;
    margin: 0 auto;
    /* Center the table */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    align-items: center;
    text-align: left;
}

.table th:nth-child(1),
.table td:nth-child(1) {
    width: 20%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 40%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 30%;
}

.table-head th {
    background-color: #4CAF50;
    color: white;
}

/* Optional: Add hover effect to rows */
.table tbody tr:hover {
    background-color: #2f2f2f;
}

.add-container {
    display: flex;
    flex-direction: row;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: 10px;
    justify-content: space-around;
    /* border-collapse: collapse; */
}


@media (max-width: 600px) {
    .table-container {
        width: 380px;
    }
    .app input {
        width: 50px;
    }
}