/* carousel.module.css */

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fade {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carouselSlide {
  flex: 0 0 100%;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
}

.active {
  opacity: 1;
}
