.app {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ddd;
    flex-direction: row;
    transform: translateY(-10%) ;
}
